html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
.breadcrumb-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.toggle-select {
  height: 54.4px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.toggle-status {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #535352;
}
.layout-content-wrapper {
  background: #fff !important;
}
.layout-page-content {
  min-width: 100%;
}

.dataTable .MuiInputBase-root-MuiTablePagination-select {
  margin-right: 62% !important;
}
.css-1wv0kt2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: transparent !important;
}
.css-1wv0kt2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
  width: 56px;
  height: 32px;
  border-radius: 100px;
  background-color: blue;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}
.css-1wv0kt2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root svg {
  color: #fff;
}
.css-1wv0kt2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiTypography-root {
  color: blue !important;
}
.css-1wv0kt2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover .MuiListItemIcon-root {
  background-color: #e1e1e1;
}
.css-1wv0kt2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover .MuiListItemIcon-root svg {
  color: inherit;
}
.css-1wv0kt2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover .MuiTypography-root {
  color: inherit !important;
}
.custom-textfield .MuiInputBase-root {
  background-color: transparent;
  width: 500px;
  height: 45px;
  margin-right: 20px;
  padding: 0px 12px;
  border-radius: 45px;
}

/*css for sidebar*/
.sideBar-Link {
  padding: 10px 10px !important;
}
.sideBar-Link .sidebarHeading {
  width: '80%';
  padding: 18px 16px;
  border-radius: 45px;
  background-color: #4849da14;
  color: #3635c9;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root {
  background-color: transparent !important;
  padding: 18px 16px;
  transition: all 0.5s;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root .MuiListItemIcon-root {
  display: none;
  height: 0px !important;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root:hover {
  background-color: #e1e1e1 !important;
  padding: 18px 16px;
  border-radius: 45px;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root.active {
  background-color: transparent !important;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root.active .MuiTypography-root {
  color: blue !important;
}

/*Bredcrumb button*/
.MuiBreadcrumbs-ol li .MuiButtonBase-root {
  background-color: transparent !important;
  color: '#929090' !important;
}
