html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
.breadcrumb-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.toggle-select {
  height: 54.4px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.toggle-status {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #535352;
}
.layout-content-wrapper {
  background: #fff !important;
}
.layout-page-content {
  min-width: 100%;
}

/* .dataTable .MuiInputBase-root-MuiTablePagination-select {
  margin-right: 62% !important;
} */

/*Custom Textfield*/
.custom-textfield .MuiInputBase-root {
  background-color: transparent;
  width: 500px;
  height: 45px;
  margin-right: 20px;
  padding: 0px 12px;
  border-radius: 45px;
}
@media screen and (max-width: 910px) {
  .custom-textfield .MuiInputBase-root {
    width: 100% !important;
  }
}

/*css for sidebar*/
.sideBar-Link {
  padding: 10px 10px !important;
}
.sideBar-Link .sidebarHeading {
  width: '80% ' !important;
  padding: 10px 16px;
  border-radius: 45px;
  background-color: #ebebfa !important;
  color: #3635c9 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.15 !important;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root {
  background-color: transparent !important;
  padding: 10px 16px;
  transition: all 0.5s;
  align-items: flex-start;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root .MuiBox-root {
  justify-content: flex-start !important;
}
.sideBar-Link .MuiButtonBase-root-MuiListItemButton-root .MuiTypography-root {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  letter-spacing: 0.1 !important;
  color: #535252 !important;
  text-align: left !important;
}

.sideBar-Link .MuiButtonBase-root-MuiListItemButton-root .MuiTypography-root::before {
  width: 20px !important;
  height: 20px !important;
  border-radius: 100px !important;
  background-color: red !important;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root .MuiListItemIcon-root {
  display: none;
  height: 0px !important;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root:hover {
  background-color: #e1e1e1 !important;
  padding: 10px 16px;
  border-radius: 45px;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root.active {
  background-color: transparent !important;
}
.sideBar-Link .MuiButtonBase-root.MuiListItemButton-root.active .MuiTypography-root {
  color: #3635c9 !important;
}

/*Bredcrumb button*/
.MuiBreadcrumbs-ol li .MuiButtonBase-root {
  background-color: transparent !important;
  color: '#929090' !important;
}
